<app-header1></app-header1>
<!-- Banner Start -->
  <div class="banner banner-video dark-overlay">
    <video autoplay muted loop id="myVideo">
      <source src="assets/vids/video-banner-2.mp4" type="video/mp4">
    </video>
    <!-- Prev Arrow -->
    <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
    <div class="container">

      <div class="banner-slider">
        <div class="banner-item text-center">
          <div class="banner-inner">
            <h1 class="title text-white">Mangez pokébowl, mangez bio <span class="custom-primary">!</span> </h1>
            <!-- <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p> -->
            <a routerLink="/" class="btn-custom primary shadow-none">Faire un Achat Sécuriser<i class="fas fa-arrow-right"></i> </a>
          </div>
        </div>
        <!-- <div class="banner-item text-center">
          <div class="banner-inner">
            <h1 class="title text-white">Learn The <span class="custom-primary">Art</span> Of Cooking Here</h1>
            <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
            <a routerLink="/contactus" class="btn-custom primary shadow-none">Contact Me <i class="fas fa-arrow-right"></i></a>
          </div>
        </div> -->
       <!-- <div class="banner-item text-center">
          <div class="banner-inner">
            <h1 class="title text-white"><span class="custom-primary">Elevate</span> Your Cooking Skills</h1>
            <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
            <a routerLink="/" class="btn-custom primary shadow-none">Visit My Blog <i class="fas fa-arrow-right"></i></a>
          </div>
        </div> -->
      </div>

    </div>
    <!-- Next Arrow -->
    <i class="slider-next fas fa-arrow-right slick-arrow"></i>
  </div>
  <!-- Banner End -->

  <!-- Categories Section Start -->
  <div class="section section-padding ct-categories ct-categories-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-croissant"></i>
              <h5>Breakfast</h5>
              <span></span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-taco"></i>
              <h5>Quick Food</h5>
              <span></span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-pot"></i>
              <h5>Cuisine</h5>
              <span></span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-diet"></i>
              <h5>Vegan</h5>
              <span></span>
            </div>
          </a>
        </div>
      <!--  <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-dairy-products"></i>
              <h5>Dairy</h5>
              <span>55 Recipes</span>
            </div>
          </a>
        </div>
       <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-pudding"></i>
              <h5>Desserts</h5>
              <span>45 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-pizza"></i>
              <h5>Pizzas</h5>
              <span>13 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a routerLink="/" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-pancakes"></i>
              <h5>Pancakes</h5>
              <span>21 Recipes</span>
            </div>
          </a>
        </div> -->
      </div>
    </div>
  </div>
  <!-- Categories Section End -->

  <!-- Blog Posts Start -->
  <section class="section pt-0 section-padding posts">
    <div class="container">
      <div class="section-title-wrap section-header">
        <h2 class="title">Blog </h2>
        <p class="subtitle">
          Vous voulez savoir quelles sont les nouvelles recettes sur lesquelles nous travaillons ? Lisez nos articles de blog quotidiens et restez à jour.
        </p>
      </div>
      <div class="row masonry">

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post">
            <div class="post-thumbnail">
              <a ><img src="assets/img/blog/f1.jpg" alt="blog post"></a>
              <div class="post-meta">
   
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/">Breakfast</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a>Pokebowl végétarien :</a> </h5>
              <p class="post-text">  Ce pokebowl végétarien est parfait pour les végétariens et les amoureux des légumes. 
                Commencez par faire cuire du riz vinaigré et ajoutez-y des légumes colorés comme des carottes râpées, des concombres, de l'avocat et des radis. 
                Vous pouvez également ajouter des légumes verts comme des épinards, du chou frisé ou de la laitue. Ajoutez une protéine végétarienne comme du tofu,
                 du tempeh ou des pois chiches pour un repas riche en protéines et en fibres. </p> 
            </div>
          </article>
        </div>
        <!-- Post End -->

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post">
            <div class="post-thumbnail">
              <a ><img src="assets/img/blog/f2.jpg" alt="blog post"></a>
              <div class="post-meta">

              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/">Breakfast</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a >Pokebowl au saumon et avocat :</a> </h5>
              <p class="post-text"> Le pokebowl au saumon et avocat est un plat délicieux et sain. Le saumon cru est coupé en dés et mariné 
                dans une sauce soja sucrée, puis servi sur du riz vinaigré avec des tranches d'avocat frais. 
                Garnissez le tout de légumes colorés comme des concombres, des carottes râpées, de l'oignon rouge et des pousses de soja. 
                Le résultat est un plat sain, riche en protéines et en graisses saines, ainsi qu'en nutriments.
              </p>
            </div>
          </article>
        </div>
        <!-- Post End -->

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post post-format-video">
            <div class="post-thumbnail">
              <a ><img src="assets/img/blog/f3.jpg" alt="blog post"></a>
              <div class="post-meta">

              </div>
              <div class="video-player-trigger">
                <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="popup-youtube">
                  <i class="fas fa-play"></i>
                  <div class="video-player-icons">
                    <i class="flaticon-pot"></i>
                    <i class="flaticon-taco"></i>
                    <i class="flaticon-bread"></i>
                    <i class="flaticon-chef"></i>
                    <i class="flaticon-diet"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/">Breakfast</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a >Pokebowl au thon épicé :</a> </h5>
              <p class="post-text"> Si vous aimez les plats épicés, essayez ce pokebowl au thon épicé. 
                Le thon cru est coupé en dés et mariné dans une sauce épicée à base de sauce soja, de piment et d'huile de sésame. S
                ervez le thon sur du riz vinaigré et ajoutez des légumes frais comme des carottes, des concombres et des oignons verts. 
                Vous pouvez également ajouter des garnitures épicées comme des flocons de piment rouge et des graines de sésame pour un peu plus de saveur. 
                Ce pokebowl est riche en protéines et en graisses saines, et parfait pour les amateurs de plats épicés. </p>
            </div>
          </article>
        </div>
        <!-- Post End -->

        <!-- Post Start 
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/4.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>April 26, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/">Lunch</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Pasta With Pesto Sauce, Topped With Grated Cheese </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div> -->
        <!-- Post End -->

        <!-- Post Start 
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post">
            <div class="post-thumbnail">
              <a routerLink="/blog-single-v1"><img src="assets/img/blog/5.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>April 26, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a routerLink="/">Cuisine</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a routerLink="/blog-single-v1">Rare Tenderloine With Gravy and Veggies </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

      </div>
    </div>
  </section>
  <!-- Blog Posts End -->

  <!-- Testimonials Start --
  <section class="section light-bg bg-cover" style="background-image:url('assets/img/bg/f1.jpg'); background-color:black">
    <div class="container">
      <div class="section-title-wrap section-header text-center">
        <h2 class="title">Testimonials</h2>
      </div>

      <div class="ct-testimonials">
        <div class="ct-testimonials-slider">
          <div class="ct-testimonial-item">
            <div class="ct-testimonial-item-inner">
              <i class="flaticon-left-quote"></i>
              <span style="color: white!important;">Johny White</span>
              <p style="color: white!important;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
            </div>
          </div>
          <div class="ct-testimonial-item">
            <div class="ct-testimonial-item-inner">
              <i class="flaticon-left-quote"></i>
              <span  style="color: white!important;">Brian Fitz</span>
              <p  style="color: white!important;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </p>
            </div>
          </div>
        </div>
        <div class="ct-arrows">
          <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
          <i class="slider-next fas fa-arrow-right slick-arrow"></i>
        </div>
      </div>

    </div>
  </section> -->
  <!-- Testimonials End -->
  <br><br><br><br>
  <!-- CTA Start 
  <section class="section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="cta-item item-1">
            <div class="cta-item-inner">
              <span class="custom-secondary">Desserts</span>
              <h3>Fruity World</h3>
              <p>Entice yourself with delicious fruity meals!</p>
              <a routerLink="/recipe-archive" class="btn-custom secondary"> View Recipes <i class="fas fa-arrow-right"></i> </a>
            </div>
            <img src="assets/img/categories/png-1.png" alt="cta">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="cta-item item-2">
            <div class="cta-item-inner">
              <span class="custom-primary">Vegan</span>
              <h3>Green World</h3>
              <p>Who said vegain food isn't tasty? Check out our vegan recipes!</p>
              <a routerLink="/recipe-archive" class="btn-custom primary"> View Recipes <i class="fas fa-arrow-right"></i> </a>
            </div>
            <img src="assets/img/categories/png-2.png" alt="cta">
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- CTA End -->
  <app-footer3></app-footer3>