<app-header1></app-header1>
<!-- Subheader Start -->
  <div class="subheader bg-cover dark-overlay-2" style="background-image: url('assets/img/banner/a1.webp')">
    <!--<img src="assets/img/blog/f1.jpg" style="height:100px;" alt="blog post">-->
    <div class="container">
      <div class="subheader-inner">
        <h1>Contactez nous</h1>

      </div>
    </div>
  </div>
  <!-- Subheader End -->
  <!-- Contact Info Start -->
  <div class="section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="ct-info-box">
            <div class="ct-info-box-icon">
              <i class="flaticon-call"></i>
              <h5>Contact</h5>
              <span>07 46 83 36 40</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="ct-info-box">
            <div class="ct-info-box-icon">
              <i class="flaticon-email"></i>
              <h5>Email</h5>
              <span>Pokebio@yahoo.com</span>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="ct-info-box">
            <div class="ct-info-box-icon">
              <i class="flaticon-location"></i>
              <h5>Localisation</h5>
              <span>3 RUE LECLERC PARIS 6eme</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Info End -->

  <!--Contact Form Start -->
  <section class="section pt-0">
    <div class="container">
      <div class="section-title-wrap section-header">
        <h2 class="title">Envoyez nous un message</h2>
        <p class="subtitle">
          Envoyez-moi un message sur n'importe quel sujet, qu'il s'agisse de cuisine ou d'une escapade autour d'un bol de PokeBowl.
        </p>
      </div>

      <form method="post">
        <div class="row">
          <div class="form-group col-lg-6">
            <input type="text" placeholder="Nom" class="form-control" name="fname" value="">
          </div>
          <div class="form-group col-lg-6">
            <input type="text" placeholder="Prenom" class="form-control" name="lname" value="">
          </div>
          <div class="form-group col-lg-12">
            <input type="email" placeholder="Adresse Email" class="form-control" name="email" value="">
          </div>
          <div class="form-group col-lg-12">
            <input type="text" placeholder="Sujet" class="form-control" name="subject" value="">
          </div>
          <div class="form-group col-lg-12">
            <textarea name="message" class="form-control" placeholder="Votre message" rows="8"></textarea>
          </div>
        </div>
        <button type="button" class="btn-custom primary" name="button">Envoyez</button>
      </form>

    </div>
  </section>
  <!--Contact Form End -->
  <app-footer3></app-footer3>