<app-header1></app-header1>
<!-- Subheader Start -->
  <div class="subheader bg-cover dark-overlay-2" style="background-image: url('assets/img/banner/a3.webp')">
    <div class="container">
      <div class="subheader-inner">
        <h1>About Us</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/aboutus">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/aboutus">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- Subheader End -->

  <!-- About Us Start -->
  <section class="section">
    <div class="imgs-wrapper">

    </div>
    <div class="container">

      <div class="section-title-wrap text-center">
        <h2 class="title">Manger sainement n'a jamais été aussi <span class="custom-primary"> facile</span> avec nos Pokebowl</h2>
        <!-- <p class="subtitle">
          Notre site de vente de Pokebowl vous propose des bols savoureux et sains, préparés avec des ingrédients de qualité supérieure. Que vous préfériez les légumes frais, les protéines savoureuses, les fruits de mer délicieux ou les sauces maison, nous avons des options pour tous les goûts. Nous nous engageons à offrir des repas équilibrés et nutritifs à tous ceux qui cherchent à manger de manière consciente. Commandez en ligne pour une livraison à domicile ou au bureau et découvrez nos recettes originales et exotiques pour une expérience gustative inoubliable.
        </p> -->
        <p>       
          Pour Pokébio, valoriser les circuits courts, c'est choisir de manger local pour redécouvrir les saveurs de nos régions et pour favoriser l'économie locale. C'est la raison pour laquelle nous travaillons avec des producteurs qui nous font confiance et qui se distinguent par la diversité dans leur culture mais plus encore un savoir faire local qui se retrouve dans le goût et la fraîcheur de leur légumes de saison.
        </p>
        <a routerLink="/contactus" class="btn-custom primary"> Contactez nous <i class="fas fa-arrow-right"></i> </a>
      </div>

    </div>
  </section> 
  <!-- About Us End -->

  <!-- CTA Start 
  <section class="section section-padding pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="cta-item item-1">
            <div class="cta-item-inner">
              <span class="custom-secondary">Desserts</span>
              <h3>Fruity World</h3>
              <p>Entice yourself with delicious fruity meals!</p>
              <a routerLink="/recipe-archive" class="btn-custom secondary"> View Recipes <i class="fas fa-arrow-right"></i> </a>
            </div>
            <img src="assets/img/categories/png-1.png" alt="cta">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="cta-item item-2">
            <div class="cta-item-inner">
              <span class="custom-primary">Vegan</span>
              <h3>Green World</h3>
              <p>Who said vegain food isn't tasty? Check out our vegan recipes!</p>
              <a routerLink="/recipe-archive" class="btn-custom primary"> View Recipes <i class="fas fa-arrow-right"></i> </a>
            </div>
            <img src="assets/img/categories/png-2.png" alt="cta">
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- CTA End -->


  <!-- About us Start -->
  <section class="section">
    <!--<div class="imgs-wrapper-2">
      <img src="assets/img/veg/3.png" alt="veg" class="d-none d-lg-block">
      <img src="assets/img/veg/5.png" alt="veg" class="d-none d-lg-block">
      <img src="assets/img/veg/8.png" alt="veg" class="d-none d-lg-block">
    </div> -->
    <div class="container">

      <div class="section">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-title-wrap">



              <h2 class="title">" des fruits et des légumes <span class="custom-primary">bios "</span> </h2>
              <p class="subtitle">
                    Depuis plusieurs années, l'exploitation BONBIO cultive, en plus de céréales, des pommes de terre, carottes, oignons, échalotes, topinambours biologiques de qualité livrés chaque semaine dans nombreux commerces de proximité et de la région parisienne. 
              </p>
            </div>
          </div>
          <div class="col-lg-6">
             <img src="assets/img/blog/f6.webp"  alt="veg" class="d-none d-lg-block">
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- About us End -->
  <app-footer3></app-footer3>