<!-- Footer Start -->
  <footer class="ct-footer footer-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 footer-widget">
          <div class="footer-logo"> <img src="assets/img/logo.png" alt="cookiteer"> </div>
          <p>Je propose quotidiennement de nouvelles recettes originales. Je publie également des articles sur des idées amusantes à faire dans la cuisine.</p>
          <ul class="social-media">
            <li> <a href="javascript:void(0)"> <i class="fab fa-facebook-f"></i> </a> </li>
            <li> <a href="javascript:void(0)"> <i class="fab fa-twitter"></i> </a> </li>
            <li> <a href="javascript:void(0)"> <i class="fab fa-pinterest-p"></i> </a> </li>
            <li> <a href="javascript:void(0)"> <i class="fab fa-linkedin-in"></i> </a> </li>
          </ul>
        </div>
       <div class="offset-lg-1 offset-md-1 col-lg-3 col-md-3 col-sm-6 footer-widget">
          <h5 class="widget-title"></h5>
          <ul>
            <li> <a href="javascript:void(0)">Accueil</a> </li>
            <li> <a href="javascript:void(0)">Blog</a> </li>
            <li> <a href="javascript:void(0)">Menu</a> </li>
            <li> <a href="javascript:void(0)">Nous Contactez</a> </li>
          </ul> 
        </div> 
        <div class="col-lg-4 col-md-3 col-sm-6 footer-widget">
          <h5 class="widget-title">Heures d'ouverture:</h5>
          <table class="light-bg">
            <tr>
              <td>Lundi</td>
              <td>....</td>
            </tr>
            <tr>
              <td>Mardi</td>
              <td style="font-weight: bold;">10H-21H</td>
            </tr>
            <tr>
              <td>Mercredi</td>
              <td style="font-weight: bold;">10H-21H</td>
            </tr>
            <tr>
              <td>Jeudi</td>
              <td style="font-weight: bold;">10H-21H</td>
            </tr>
            <tr>
              <td>Vendredi</td>
              <td style="font-weight: bold;">10H-21H</td>
            </tr>
            <tr>
              <td>Samedi</td>
              <td style="font-weight: bold;">10H-21H</td>
            </tr>
            <tr>
              <td>Samedi</td>
              <td style="font-weight: bold;">10H-21H</td>
            </tr>
          </table>
         <!-- <ul>
            <li> <a href="javascript:void(0)">Privacy Policy</a> </li>
            <li> <a href="javascript:void(0)">Refund Policy</a> </li>
            <li> <a href="javascript:void(0)">Cookie Policy</a> </li>
            <li> <a href="javascript:void(0)">Terms & Conditions</a> </li>
          </ul> -->

        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p class="m-0">&copy; Copyright 2023 - <a href="javascript:void(0)">PokeBio</a> All Rights Reserved.</p>
      </div>
    </div>

  </footer>
  <!-- Footer End -->